/* 2013 by Iulian Luca @lucaiuli */

html
{
  background-color:#eee;
  height:100%;
  width:100%;
}
@import url('http://fonts.googleapis.com/css?family=Lato');
@font-face {
  font-family: 'RainMachine';
  src:url('../font/rm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rainmachine-icons';
  src:url('../font/rainmachine-icons.eot?-k11hgc');
  src:url('../font/rainmachine-icons.eot?#iefix-k11hgc') format('embedded-opentype'),
    url('../font/rainmachine-icons.woff?-k11hgc') format('woff'),
    url('../font/rainmachine-icons.ttf?-k11hgc') format('truetype'),
    url('../font/rainmachine-icons.svg?-k11hgc#rainmachine-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'rainmachine-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0.9;
  display: block;
  font-size: 55px;
  margin-bottom: 0px;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.backwards {
  unicode-bidi:bidi-override; 
  direction:rtl;
  -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.icon-freezeControl:before
{
  content:"\e600";
}

.icon-stats:before
{
  content:"\e601";
}

.icon-capScreen:before
{
  content:"\e602";
}

.icon-Zones:before
{
  content:"\e603";
}

.icon-daysforecast:before
{
  content:"\e604";
}

.icon-suspendIcon:before
{
  content:"\e605";
}

.icon-weatherData:before
{
  content:"\e606";
}

.icon-chartCloud:before
{
  content:"\e607";
}

.icon-average:before
{
  content:"\e608";
}

.icon-antenna:before
{
  content:"\e609";
}

.icon-programsIcon:before
{
  content:"\e60a";
}

.icon-homeAddress:before
{
  content:"\e60b";
}

.icon-historyArrow:before
{
  content:"\e60c";
}

.icon-editName:before
{
  content:"\e60d";
}

.icon-NOAA:before
{
  content:"\e60e";
}

.icon-ForecastDays:before
{
  content:"\e60f";
}

.icon-RM:before
{
  content:"\e612";
}

.icon-tfs:before
{
  content:"\e610";
}

.icon-tm:before
{
  content:"\e611";
}

.icon-RM-and-tfs-text:before
{
  content:"\e613";
}

.icon-mobileLogo:before {
    content: "\e611";
}
.icon-daysLogo:before {
    content: "\e612";
}

.icon-multipleZones:before {
    content: "\e613";
}

.icon-NOAA:before {
    content: "\e60e";
}

.icon-watersense:before {
    content: "\e614";
}

.icon-openSource:before {
    content: "\e616";
}

.icon-noCloud:before {
    content: "\e615";
}

.icon-startstop:before {
    content: "\e610";
}
body
{
  -moz-box-shadow:0 0 5px rgba(0,0,0,.1);
  -webkit-box-shadow:0 0 5px rgba(0,0,0,.1);
  background:#fff;
  border:0 solid #fff;
  border-bottom:0;
  border-top:0;
  box-shadow:0 0 5px rgba(0,0,0,.1);
  font-size:1rem;
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.33333;
  color:#555;
  margin:0 auto;
  min-height:100%;
  min-width:990px;
  overflow-x:hidden;
  overflow-y:visible;
  padding:0;
  position:relative;
  width:100%;
  z-index:0;
}

#content{
display: block;
width: 990px;

  left: 0;
  right: 0;
  margin: 0 auto;
}
.note {
  display: block;
  padding-left: 1em;
  border:0;
  font-size: 0.8em;
  margin: 0.8em 0;
}
.explanation {
  color:#888;
  font-size: 0.9em;
}
.qaplus_search{
width: 70%;
height: 42px;
font-size: 0.8889rem;
}
#bbpress-forums #bbp-search-form #bbp_search {height: 42px;}
.bbp-breadcrumb-home{display: none;}
a:link,a:visited,a:active
{
  text-decoration:none;
  font-weight: 400;
}
a:link:hover,a:visited:hover,a:active:hover {color:#555;}
.selected {color:#458dbf;}
img
{
  height:auto;
  max-width:100%;
  width:auto\9;
}

.mockup
{
  width:400px;
}

#wrap
{
  margin:0 auto;
  width:100%;
}

#header
{
  background-color:#fff;
  height:80px;
  width:100%;
  border-bottom: 1px solid #eee;
}

#navigation,#footer
{
  margin:0 auto;
  max-width:990px;
  text-align:center;
}

#footer
{
  color:#999;
  font-size:0.6667rem;
  height:60px;
  margin-bottom:0;
  margin-top:1.111rem;
}

.logo
{
  background-image:url(../images/rainmachine-website-logo.png);
  background-repeat:no-repeat;
  display:inline-block;
  float:left;
  height:68px;
  margin-top:0.5556rem;
  width:258px;
  margin-left:1.111rem;
  background-size: cover;
}

.content
{
  margin:0 auto;
  width:990px;
}
#support 
{
  display: inline-block;
  background-color: #fff;
  vertical-align: text-top; 
  margin-bottom: 0.8333rem; 
  width: 40%; 
  height: 260px; 
  min-height: 260px; 
  padding-left: 1.111rem; 
  border: 1px solid #ddd; 
  border-radius: 5px;
  margin-right: 0.5556rem;
  text-align: left;
}
#wrap,.content ul
{
  color:#555;
  text-align:left;
  zoom:1;
}

.privacy
{
  color:#0088ce;
}

h1
{
  color:#222;
  font-size:2rem;
  font-weight:300;
  letter-spacing:0;
  line-height:42px;
  margin-bottom:1.111rem;
  zoom:1;
}

h2
{
  border-bottom:0px solid #eee;
  font-size:0.7778rem/1rem;
  font-weight:bold;
  padding-bottom:5px;
  zoom:1;
}

p
{
  line-height:1.45em;
  margin-bottom:5px;
  margin-left:0;
  margin-top:0;
  zoom:1;
}

.disclaimer
{
  color:#bdc3c7;
  font-size:0.6667rem;
  font-weight:300;
  margin:0 auto;
}

.break
{
  clear:both;
  display:block;
  height:0.5556rem;
}

ul.icons
{
  color:#458dbf;
  font-weight:400;
  list-style:none;
  padding-left:0;
  text-transform:uppercase;
}

li.icons
{
  color:#458dbf;
  display:block;
  float:left;
  height:100px;
  margin-right:1.111rem;
  padding:0;
  padding-top:5px;
  text-align:center;
  width:100px;
  margin-bottom:0.8333rem;
}

.iconText
{
  display:block;
  font-size:0.8333rem;
  font-weight:normal;
  margin-top:0.5556rem;
}

.buynow,.buynowFooter
{
  background-color:#458dbf;
  border:solid 1px #458dbf;
  border-radius:0.8889rem;
  color:#fff;
  font-weight:400;
  padding:3px 0.6667rem;
}

.buynow:hover,.buynowFooter:hover
{
  background-color:#006699;
  border:solid 1px #006699;
  border-radius:0.8889rem;
  color:#000;
  font-weight:400;
  padding:3px 0.6667rem;
}

.specshelp
{
  font-size:0.8333rem;
  font-weight:400;
  margin-right:0;
  margin-top:-5px;
  padding:0;
}

.toplinks
{
  color:#555;
  display:inline-block;
  font-size:0.8889rem;
  font-weight:400;
  margin-right:0;
  margin-top:1.667rem;
  padding-right:5px;
}
.tooltip-screen {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid black;
}

.tooltip-screen .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip-screen:hover .tooltiptext {
    visibility: visible;
}
#navigation a:link,#navigation a:visited,#navigation a:active
{
  color:#555;
  font-weight:400;
}

#navigation a:hover
{
  color:#458dbf;
}

.more {
  color:#458dbf;
}

.space
{
  font-size:0.625rem;
  margin-right:0;
}

.buynowFooter
{
  margin-right:0;
  margin-top:0;
}

.iconleft,.iconright
{
  color:#8f8f8f;
  display:block;
  font-weight:400;
  padding:0 0.5556rem;
  padding-left:0;
  text-align:center;
  text-transform:uppercase;
  width:100px;
}

.icontext
{
  display:block;
  font-size:35px;
  padding-bottom:5px;
}

.iconleft
{
  float:left;
}

.iconright
{
  float:right;
  padding-right:0;
}

.feature
{
  margin-left:0.5556rem;
}

ul.specs
{
  font-weight:300;
  list-style-type:none;
  margin-bottom:1.333rem;
  margin-left:0;
  padding-left:0;
}

#menu
{
  color:#adadad;
  font-weight:bold;
  margin:0 auto;
  max-width:990px;
  padding:0.8333rem 0;
  text-align:left;
}

#menu a
{
  color:#333;
}
.myrainmachine {
  /*padding:10px 15px;*/
  /*border: 1px solid #f26722;*/
  color:#f26722;
  border-radius:5px;
}
.myrainmachine:hover {
   /*border: 1px solid #3399cc;*/
   background-color:#ffffff;
   color:#3399cc;
   border-radius:5px;
}
.trynow {
  padding:10px 15px;
  border: 1px solid #f26722;
  background-color:#f26722;
  color:#fff;
  border-radius:5px;
}
.trynow:hover {
  border: 1px solid #cc4400;
  background-color:#cc4400;
  color:#ffffff;
  border-radius:5px;
}

#sectionmenu,#section1,#section2,#sectionfooter,#sectionheading,#sectionheader,#sectionHD,#sectionMini,#announcement,#conserve
{
  padding:1.667rem 0;
}
#announcement {border-bottom:1px solid #eee; border-top:1px solid #eee;}
#hotitworks{background-color: rgba(255,255,255,0.0);padding:2.222rem;}
#hotitworks:hover{background-color: rgba(255,255,255,0.2);padding:2.222rem;}
#links {border-bottom: 1px solid #eee;}
.submenu {font-size: 0.7778rem;margin-top:0.8333rem;margin-bottom:0.8333rem;padding-left: 1.111rem;}
.buy {text-align:center;display: block; width: 200px; margin: 0 auto;padding: 0.8333rem; font-size: 1.111rem;color:#fefefe; background-color:#458dbf;border: 1px solid #458dbf;border-radius: 0.5556rem;}
.buy:hover {text-align:center;display: block; width: 200px; margin: 0 auto;padding: 0.8333rem; font-size: 1.111rem;color:#555;background-color:#fff;border: 1px solid #333;border-radius: 0.5556rem;}
h1.price, a.supportLinks {padding:0.5556rem;margin:0 auto;width:11.667rem;border:1px solid #555;border-radius:0.5556rem;color:#555;}
/*h1.price:hover, a.supportLinks:hover {padding:0.5556rem;margin:0 auto;width:11.667rem;background-color:#458dbf;border: 1px solid #458dbf;border-radius: 0.5556rem;color:#fefefe;}*/
#leftProduct {width:49.0%;margin: 8px;margin-left:5px;margin-right:5px;padding:1.667rem;background-color:rgba(236, 240, 241,0.7);border:1px solid rgba(236, 240, 241,0.7);}
#leftProduct:hover {width:49.0%;margin: 8px;margin-left:5px;margin-right:5px;padding:1.667rem;background-color:rgba(236, 240, 241,1.0);border:1px solid rgba(0, 119, 159,0.5);transition: all ease-in 0.8s;;}
#rightProduct {width:49.0%;margin: 8px;margin-right:5px;margin-left:5px;padding:1.667rem;background-color:rgba(46, 204, 113,0.1);border:1px solid rgba(192, 192, 192,0.2);}
#rightProduct:hover {width:49.0%;margin: 8px;margin-right:5px;margin-left:5px;padding:1.667rem;background-color:rgba(46, 204, 113,0.4);border:1px solid rgba(192, 192, 192,0.8);transition: all ease-in 0.8s;}
.lrnmore {display: inline-block; width: 12.222rem;padding: 0.5556rem; border:1px solid #fefefe;border-radius: 5px;margin:0 auto;background-color:rgba(236, 240, 241,0.2);}
.lrnmore:hover {display: inline-block; width: 12.222rem;padding: 0.5556rem; border:1px solid #fefefe;border-radius: 5px;margin:0 auto;background-color:rgba(0, 0, 0,0.8);transition: all 0.2s ease-in 0s;}
.lrnmorearr {display: inline-block; width: 60px;padding: 1.111rem; border:1px solid #fefefe;border-radius: 50%;margin:0 auto;background-color:rgba(255, 182, 77,0.5);font-weight: bold; font-size: 1.333rem;}
.lrnmorearr:hover {display: inline-block; width: 60px;padding: 1.111rem; border:1px solid #fefefe;border-radius: 50%;margin:0 auto;background-color:rgba(0, 0, 0,0.9);transition: all 0.2s ease-in 0s;}
.bnow {display: inline-block; width: 12.222rem;padding: 0.5556rem; border:1px solid orange;border-radius: 5px;margin:0 auto;background-color:rgba(255, 182, 77,0.2);}
.bnow:hover {display: inline-block; width: 12.222rem;padding: 0.5556rem; border:1px solid orange;border-radius: 5px;margin:0 auto;background-color:rgba(0, 0, 0,0.8);transition: all 0.2s ease-in 0s;}
.featIcon {width:86px; text-align: center; margin: 0 auto;margin-bottom: 0px;margin-top: 0.5556rem;-webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;}
.svgIcon {border:0px solid red;margin-left: -5px; margin-top: -5px; fill:#458dbf;}
#feat1, #feat2, #feat3, #feat4, #feat5, #feat6 {margin: 0 0 0.8889rem 0;overflow: hidden;padding: 1.111rem;}
#feat1:hover, #feat2:hover, #feat3:hover, #feat4:hover, #feat5:hover, #feat6:hover {border-color: #458dbf;}
#feat1:hover .featIcon,#feat2:hover .featIcon,#feat3:hover .featIcon,#feat4:hover .featIcon,#feat5:hover .featIcon,#feat6:hover .featIcon {background-color:transparent;border:0px solid #fff;}
#feat1:hover .service-heading, #feat1:hover .text-muted,#feat2:hover .service-heading, #feat2:hover .text-muted,#feat3:hover .service-heading,#feat3:hover .text-muted,#feat4:hover .service-heading,#feat4:hover .text-muted,#feat5:hover .service-heading,#feat5:hover .text-muted,#feat6:hover .service-heading,#feat6:hover .text-muted {color:#458dbf;}
#feat1:hover .svgIcon,#feat2:hover .svgIcon,#feat3:hover .svgIcon,#feat4:hover .svgIcon,#feat5:hover .svgIcon,#feat6:hover .svgIcon {fill:#458dbf;}*
.text-muted {font-weight:300;text-align: left;}
.gototop{position: fixed;right: 0.5556rem;bottom: 20px;right:20px;z-index: 1000;list-style: none;}
.gototop a {display:block;font-weight:400; padding:7px;width:2.222rem;text-align:center;background-color:#fff;border:1px solid #458dbf; border-radius:50%;margin: 0.5556rem;}
.service-heading {font-size:24px;}
.supportStep1 {border:1px solid #ddd;border-radius:5px;padding:5px;min-height:170px;width:158px;margin:1.111rem;text-align:center;display:inline-block;padding-top:2.222rem;background-color: #fff;vertical-align:top;}
.supportStep1:hover {background-color: #f8f8f8; border-color: #458dbf;}
.amazon {padding:5px 0.8333rem 5px 0.8333rem; background-color:#fff;border:1px solid #458dbf;border-radius:0.5556rem;color:#458dbf;}
.amazon:hover {padding:5px 0.8333rem 5px 0.8333rem; background-color:#ffe7a8;border:1px solid #b38b22;border-radius:0.5556rem;color:#000;}

/*products*/
.prodsectMain {font-family:Open Sans; padding: 1.667rem 0;height:500px; background: #3399cc;}
.c555{color:#555;}
.c999 {color:#999;}
.c999.underline {text-decoration: underline;}
.leftcenter {display:inline-block;width:33%;margin-top: 1.111rem;border-right: 0px solid #eee;padding-right: -0.5556rem;}
.norightborder {border: 0px;}
.s20{font-size: 1.111rem;}
.prodthumb{width:70%;padding-left:0px;border:0px;}
.clear10{clear: both;height:0.5rem;}
.clear30{clear: both;height:1.667rem;}
.clear40{clear: both;height:2.222rem;}
.clear80{clear: both;height:80px;}
.prodfeat li {list-style: none;text-align:left;font-size:0.8889rem;line-height:1.333rem;padding-left:0px;margin-left: -0.8333rem;}
.prodfeatlegend li {list-style: none;text-align:left;font-size:0.7778rem;line-height:1.111rem;padding-left:0px;margin-left: -0.8333rem;}
.h4price {text-align:center;font-weight:300}
.prodlegend {font-size:0.6667rem;color:#999;}
.floarRp35 {float:right;padding-right:35px; display: none;}
.red {color:red;}
/*end products*/

/*water companies rules*/
.right {float: right}
.rulebody {background-color:#ffffff; padding:20px;border:1px solid #ddd; font-size:0.90em;margin-bottom: 20px;} 
.fromto {padding: 5px 15px;border-bottom: 1px solid #eee;}
/*end water companies rules*/

/*index RainMachineSlides*/
.under {z-index:-100;}
.bigtext {display: block;position: absolute;top: 0;left: 150px;text-align: center;width: 80%;margin: 20px auto;color: #fff;font-family: Lato, Open Sans, Arial, sans-serif;font-size: 2em;}
.bigsubtitle {display:block;margin-top:15px;color:#fff;font-weight:400;}
.arrows {font-size: 100px;color:#eee;padding-top:12%;}
/*end index RainMachineSlides*/

/*mini & hd start*/
.prodImgHD {float:right;width:400px;margin-right:0%;padding-top:0px;}
.prodImgMini {float:right;width:250px;margin-right:20%;padding-top:0px;}
.prodFeatList {margin-top:0px;text-align:left;width:540px;padding-left:120px;}
.prodTitle {width:400px;}
.prodSpaceLeft {display:inline-block;width:108px;}
.prodFeatLines {display:inline-block;width:450px;}
.prodLines {list-style-type: none;margin:0; padding-left: 0px;line-height: 2.1em;font-size: 16px;font-weight: 300;}
/*end mini & hd start*/


#cf {
  position:relative;
  height:390px;
  width:400px;
  margin:0 auto;
}
#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
#cf2 {
  position:relative;
  height:280px;
  width:293px;
  margin:0 auto;
}

#cf2 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf2 img.top:hover {
  opacity:0;
}

#cf3 {
  position:relative;
  height:523px;
  width:960px;
  margin:0 auto;
}

#cf3 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf3 img.top:hover {
  opacity:0;
}

/* magnified glass start */
.glass {
  width: 175px;
  height: 175px;
  position: absolute;
  border-radius: 50%;
  cursor: crosshair;
  
  /* Multiple box shadows to achieve the glass effect */
  box-shadow:
    0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25), 
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  
  /* hide the glass by default */
  display: none;
}
/* magnified glass end */

#sectionmenu
{
  background-color:#eee;
  border-bottom:1px solid #ddd;
  padding:0;
}

#section1
{
  background-color:#f9f9f9;
  border-bottom:1px solid #eee;
  border-top:1px solid #eee;
}

#sectionnews
{
  background-color:#fff;
  color:#666;
  border-bottom:1px solid #eee;
}

#sectionheader
{
  background:url(../images/device_0779_01.jpg) no-repeat center center;
  background-color:#363536;
  color:#666;
  height:680px;
/*  -webkit-transition: all 2s ease-out 0s;
  -moz-transition: all 2s ease-out 0s;
  -ms-transition: all 2s ease-out 0s;
  -o-transition: all 2s ease-out 0s;
  transition: all 2s ease-out 0s;*/
}
/*#sectionheader:hover
{
  background:url(../images/slide02-bg.jpg) no-repeat bottom center;
  background-color:#363536;
  background-size:cover;
  color:#666;
  height:490px;
  -webkit-transition: all 2s ease-out 0s;
  -moz-transition: all 2s ease-out 0s;
  -ms-transition: all 2s ease-out 0s;
  -o-transition: all 2s ease-out 0s;
  transition: all 2s ease-out 0s;
}*/

#sectionHD
{
  background-color:#fff;
  background-size:cover;
  color:#666;
  height:390px;
}

#sectionheading
{
  background-color:#fff;
  border-bottom:1px solid #f0f5e9;
  color:#458dbf;
}

#sectionfooter
{
  background-color:#f9f9f9;
  border-top:1px solid #f0f5e9;
}

#news
{
  background-color:#fff;
  color:#000;
  display:inline-block;
  padding:0.5556rem;
  padding-left:0;
  text-align:center;
  vertical-align:text-top;
  width:48.5%;
}

#news p
{
  color:#666;
  line-height:2.2rem;
  text-align:left;
}

#news a:link,#news a:visited,#news a:active
{
  color:#458dbf;
  font-size:0.8889rem;
}

#news a:hover
{
  color:#000;
}

#news a:hover>.tag
{
  background-color:#a0ff00;
  border:1px solid #a0ff00;
  color:#467000;
}

#sectionproducts
{
  background-color: #fffdf9;
  border-bottom:1px solid #f0f5e9;
}

#productsLeft, #productsRight
{
  display:inline-block;
  width:49%;
  vertical-align:text-top;
  padding:0px;
}

#productsLeft
{
  width:46%;
}

#productsRight
{
  text-align: left;
}

.subtitle,#menu a:hover
{
  color:#458dbf;
}
/*.description {font-size: 1rem;}*/
.legend {font-size:0.6556rem;color:#999;text-align: center;padding-top: 1.111rem;border-top: 1px solid #eee;padding-left: 40px;}
.legend a {text-decoration:underline;color:#999;}
/* tabs */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/
.board{
width: 100%;
margin: 0px auto;
height: 490px;
margin-top: -1.111rem;
/*box-shadow: 0.5556rem 0.5556rem #ccc,-0.5556rem 1.111rem #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 0px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

p.narrow{
    width: 60%;
    margin: 0.5556rem auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: transparent;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 1.333rem;
}

span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

li.active span.round-tabs.one{
    background: transparent !important;
    border: 0px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}

li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}

li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five{
    color: #999;border: 0px solid #ddd;
}

li.active span.round-tabs.five{
    background: #f9f9f9; !important;
    border: 0px solid #458dbf;
    color: #458dbf;
}

.nav-tabs > li.active > a span.round-tabs{
    background: transparent;
}
.nav-tabs > li {
    width: 20%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 0.5556rem solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 0px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 0.5556rem solid transparent;    
}
.nav-tabs > li a{
   /*width: 170px;*/
   /*height: 1.667rem;*/
   margin: 0 auto;
   margin-top: 1.111rem;
   padding: 10px 0;
   text-align: center;
   font-weight: 400;
   color:#555;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
   position: relative;
padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.333rem;
    text-transform: uppercase;
    padding-bottom: 0.5556rem;
}
.btn-outline-rounded{
    padding: 0.5556rem 2.222rem;
    margin: 1.111rem 0;
    border: 0px solid transparent;
    border-radius: 1.333rem;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color: transparent;color:#39c; padding:10px 0;border:1px solid #ddd;border-bottom: 1px solid white}
.nav-tabs > li > a {border:0px;}

@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}
    span.round-tabs {
        font-size:0.8889rem;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:1.111rem;
        }
    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:0.6667rem 1.111rem;
    }
}

/* end tabs */
nav {
  text-align: left;
  float:right;
  padding-top: 1.111rem;
  font-weight: 400;
  font-size: 0.8889rem;
}

nav ul ul {
  display: none;
}

  nav ul li:hover > ul {
    display: block;
  }


nav ul {
  padding: 0 1.111rem;
  list-style: none;
  position: relative;
  display: inline-table;
  font-weight: 400;
}
  nav ul:after {
    content: ""; clear: both; display: block;
  }

  nav ul li {
    float: left;
  }
    nav ul li:hover {
    }
      nav ul li:hover a {
        color: #fff;
      }
    
    nav ul li a {
      display: block; padding: 0.8556rem 0.5333rem;
      color: #757575; text-decoration: none;
      font-weight: 400;
      /*text-transform: uppercase;*/
    }
      
    
  nav ul ul {
    background: #fff; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
  }
    nav ul ul li {
      float: none; 
    }
      nav ul ul li a {
        padding: 0.8333rem 1.111rem;
        color: #fff;
      } 
        nav ul ul li a:hover {
          background: #fff;
        }
    
  nav ul ul ul {
    position: absolute; left: 100%; top:0;
  }
.buyit {padding:5px 0.8333rem 5px 0.8333rem; color:#fff; border-radius:5px; border:1px solid #458dbf; background-color:#458dbf;margin-top:5px;}
.buyit:hover {padding:5px 0.8333rem 5px 0.8333rem; color:#666; border-radius:5px;border:1px solid #666; background-color:#fff;margin-top:5px;}

/* select combobox */
select {
  margin: 0px;
  border: 1px solid #ccc;
  background: transparent;
  padding: 5px 35px 5px 15px;
  font-size: 14px;
  height: 32px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/down.png) 96% no-repeat #fff;
} 
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) { 
    select {
        background:none;
        padding: 5px;
    }
}

.products-box-gray .products {
    overflow: hidden;
    padding: 5px;
    padding-left: 0.8em;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #f4f4f4;
    color: #000;
}
.products-box-gray .title {
    height:30px;
    line-height:10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background:#f4f4f4;
    font-size:14px;
    display:block;
    color:#333;
    display:block;
    padding:10px;
    border: 1px solid #f4f4f4;
    border-bottom:none;
}
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; text-align: center;} 
.datagrid {font: normal 12px/150% sans-serif; background: #fff; overflow: hidden; border: 1px solid #DBDBDB; }
.datagrid table td, .datagrid table th { padding: 3px 7px; }
.datagrid table tbody td { color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; width:25%; padding:10px;}
.datagrid table tbody .alt td { background: #f4f4f4; color: #7D7D7D; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
h1.entry-title {display:none;}
.contactIconPhone, .contactIconEmail  {font-size: 1.6em; vertical-align: top}
.contactIconEmail {font-size: 2em;}

.thumbnail {
  max-width: 40%;
}
.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 8%;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}

  pre {
  margin: 0;
  padding: 0.1em 0.5em 0.3em 0.7em;
  overflow: auto;
  width: 93%;
  display: block;
  font-family: monospace;
  white-space: pre;
  background-color: #fff1e6;
  }
  /*shake*/
  @-webkit-keyframes shakeannouncement {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover,
.shake:focus {
  -webkit-animation-name: shakeannouncement;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/*end shake*/
#map {
    width: 20%;
    height: 20%;
   }