@font-face {
    font-family: 'VegurRegular';
    src: url('../font/vegur-r_0.602-webfont.eot');
    src: url('../font/vegur-r_0.602-webfont.eot?#iefix') format('eot'),
         url('../font/vegur-r_0.602-webfont.woff') format('woff'),
         url('../font/vegur-r_0.602-webfont.ttf') format('truetype'),
         url('../font/vegur-r_0.602-webfont.svg#webfont43BoF65N') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VegurLight';
    src: url('../font/vegur-l_0602-webfont.eot');
    src: url('../font/vegur-l_0602-webfont.eot?#iefix') format('eot'),
         url('../font/vegur-l_0602-webfont.woff') format('woff'),
         url('../font/vegur-l_0602-webfont.ttf') format('truetype'),
         url('../font/vegur-l_0602-webfont.svg#webfontTDl85Sua') format('svg');
    font-weight: normal;
    font-style: normal;

}

.title {font-family: 'VegurLight', sans-serif; font-size: 4.35em; line-height:100%; color:#1f1f1f; border: 0px; letter-spacing: -.02em; overflow: hidden;}
.title2 {font-family: 'VegurLight', sans-serif; font-size: 2.8em; line-height:100%; color:#8a8d99; border: 0px; letter-spacing: -.02em; overflow: hidden;}
.subtitle {font-family: 'VegurLight', sans-serif; font-size: 2.8em; line-height:100%; color:#1f1f1f; border: 0px; letter-spacing: -.02em; overflow: hidden;}
.subtitle2 {font-family: 'VegurLight', sans-serif; font-size: 2.5em; line-height:100%; color:#8a8d99; border: 0px; letter-spacing: -.02em; overflow: hidden;}


